@media (max-width:992px){
    .navbar{
        /* position: fixed;
        left: 0;
        right: 0;
        top: 0; */
      
      
    }
    .area{
        height: 110vh;
        top: -120px;
    }
    .me{
        left: 20%;
    }
}
@media (max-width:710px){
    .me{
        left: 15%;
    }
}
@media (max-width:1042px){
    #skills{
        margin-top: 90%;
    }
}